marytts/


voicebuilder/audio/
voicebuilder/texts/
voicebuilder/mysql/

voices/*

voicebuilder/data/*

HTK-*
*.pyc
mysql/*
.vscode/*
*.PointProcess

marytts/marytts-languages/marytts-lang-cy/lib/modules/cy/lexicon/geiriadur-ynganu-bangor/*
