marytts/
server/log

voicebuilder/audio/
voicebuilder/texts/
voicebuilder/mysql/
voicebuilder/egs/talentau-llais/test_audio

voices/*

voicebuilder/data/*
voicebuilder/server/log

HTK-*
*.pyc
mysql/*
.vscode/*
*.PointProcess

marytts/marytts-languages/marytts-lang-cy/lib/modules/cy/lexicon/geiriadur-ynganu-bangor/*
.DS_Store
